*.a
*.o
*.tar.*
*~
.deps
.gdbinit
.emacs.desktop
.emacs.desktop.lock
.emacsrc
ABOUT-NLS
ChangeLog
INSTALL
Makefile
Makefile.in
TAGS
aclocal.m4
am
autom4te.cache
build-aux
config.h
config.h.in
config.log
config.status
configure
core
m4
stamp-h1
tmp/
