Makefile
Makefile.in
direvent.info*
stamp-vti
version.texi
direvent.aux
direvent.cp
direvent.cps
direvent.dvi
direvent.fl
direvent.fn
direvent.kw
direvent.ky
direvent.log
direvent.mt
direvent.op
direvent.pg
direvent.pr
direvent.ps
direvent.toc
direvent.tp
direvent.vr
manual
