Makefile
Makefile.in
dircond.info*
stamp-vti
version.texi
dircond.aux
dircond.cp
dircond.cps
dircond.dvi
dircond.fl
dircond.fn
dircond.kw
dircond.ky
dircond.log
dircond.mt
dircond.op
dircond.pg
dircond.pr
dircond.ps
dircond.toc
dircond.tp
dircond.vr
manual
